*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e1f5fe;
    font-family: 'Courier New', monospace;
}
header{
    background-color: #ffab40;
    color: #ffff;
    text-align: center;
    padding: 2em;
    margin-bottom: 1em;
}
header ul{
    display: flex;
    list-style-type: none;
}
header li{
    margin-right: 10px;
}
header a{
    color: #ffff;
}
a{
    color: black;
}
section{
    background-color: #ffff;
    max-width: 95%;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto; /*pone el section en el medio*/
    border: 2px dashed #ffab40;
    transition: 0.5s;
}
section:hover{
    transition: 0.5s;
    transform:translateY(-10px);
}
section h2{
    margin-top: 1.5em;
    margin-bottom: 1em;
}
section p{
    margin-bottom: 0.5em;
}