*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e1f5fe;
    font-family: 'Courier New', monospace;
}
header{
    background-color: #ffab40;
    color: #ffff;
    text-align: center;
    padding: 2em;
    margin-bottom: 1em;
}
section{
    background-color: #ffff;
    max-width: 95%;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto; /*pone el section en el medio*/
    border: 2px dashed #ffab40;
    transition: 0.5s;
}
.no_mostrar{
    visibility: hidden; /* Oculta visualmente el elemento */
    height: 0; /* Altura inicial en 0 para ocultarlo */
    overflow: hidden; /* Oculta el contenido */
    transform: translateY(10px);
    transition: 0s;  /* Le he quitado la transición de 0.5s porque se muestra como los botones con un pequeño espacio*/
}
.mostrar:hover .no_mostrar{
    visibility: visible; /* Asegura que el elemento sea visible */
    height: auto; /* Permite que el contenido tome su altura */
    transform: translateY(0);
    transition: 0.5s;
}
img{
    width: 30%;
}
input{
    font-family: 'Courier New', monospace;
    padding: 1px;
}